/* Skeleton.css */
.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}

.skeleton-text {
    height: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.skeleton-title {
    height: 2rem;
    width: 70%;
    margin-bottom: 1rem;
}

.skeleton-rect {
    width: 100%;
    height: 200px;
}

.skeleton-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f5f5f5;
    }

    100% {
        background-color: #e0e0e0;
    }
}